.Sidebar {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: width 0.3s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .lang {
        margin-left: 0;
    }

    .linkText {
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
        width: 0;
    }
}

.links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin-left: calc(var(--sidebar-width-collapsed)/2.5);
}

.link {
    display: flex;
    gap: 12px;
    align-items: center;
    color: var(--inverted-primary-color);
}

.icon {
    fill:var(--inverted-primary-color)
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.collapseBtn {
    position: absolute;
    z-index: var(--toggle-sidebar);
    right: -32px;
    bottom:32px
}
