.title {
  color:var(--primary-color);
  font: var(--font-l) ;
}

.base {
  color:var(--secondary-color);
  font: var(--font-m) ;
}

.m{
  font: var(--font-m) ;
}

.l {
  font: var(--font-l) ;
}
.xl {
  font: var(--font-xl) ;
}

.error {
  color: var(--error)
}


